<!DOCTYPE html>
<html>
<head>
<title>Edit User</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
	<h1>Edit User</h1>
	<form action="/users/<%=user._id %>" method="POST">
		<div class="input-group">
			<label>Name</label>
			<input type="text" name="name" value="<%=user.name %>">
			<input type="hidden" name="_id" value="<%=user._id %>">
		</div>

		<div class="input-group">
			<label>Email</label>
			<input type="text" name="email" value="<%=user.email %>">
		</div>

		<button type="submit">Update</button>
		<a href="/users">Kembali</a>
	</form>
	<footer>
		<p>&copy: 2021 vira.tresyana</p>
	</footer>

</body>
</html>