<!DOCTYPE html>
<html>
<head>

<title>About</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
	<%- include('components/navbar') %>
	<h1>Cara Menjadi Orang Sukses, Segera Mulai dari Sekarang</h1>
	<p>1. Tetapkan tujuan yang konkert.  <br> Cara menjadi orang sukses yang pertama adalah dengan menetapkan tujuan yang konkret. Untuk menjadi sukses lebih cepat, pertama-tama, memerlukan peta jalan untuk karier Anda. Bagaimanapun, Anda tidak dapat mengambil jalan pintas jika tidak ada titik akhir yang dipikirkan. <br> 2. Bijaklah dengan uang <br>Cara menjadi orang sukses yang selanjutnya yaitu dengan bersikap bijak dalam mengatur keuangan. Sulit untuk maju jika terus-menerus mengejar ketertinggalan atau hidup dari gaji ke gaji. Jika Anda ingin sukses lebih cepat, Anda perlu pintar-pintar mengatur keuangan.
    Sisihkan sebagian dari setiap gaji di rekening tabungan. Menahan diri terkadang memang tidak menyenangkan, tetapi dengan melakukannya sekarang dapat membantu dalam mencapai kesuksesan.<br> 3. Tetapkan Rutinitas. <br> Dilansir dari laman entrepreneur.com, cara menjadi orang sukses yang kedua yaitu dengan menetapkan rutinitas. Rutinitas akan membuat Anda terus maju dan membantu diri untuk terus berkembang. Selain itu, dengan mengikuti sebuah rutinitas, tentu akan jauh lebih mudah untuk memantau kemajuan yang dicapai dari waktu ke waktu. <br> Belajar Mengatakan Tidak <br> Cara menjadi orang sukses yang kelima yaitu dengan belajar untuk tidak mengiyakan setiap ajakan atau keinginan orang lain. Penulis Herbert Bayard Swope mengatakan, "Saya tidak bisa memberi Anda formula pasti untuk sukses, tapi saya bisa memberi rumus untuk gagal: Cobalah untuk menyenangkan semua orang setiap saat." <br>4. Belajar dari Kesalahan <br>

	Cara menjadi orang sukses yang terakhir adalah dengan belajar dari kesalahan. Seperti yang pernah ditulis Truman Capote, "Kegagalan adalah bumbu yang memberi rasa pada kesuksesan."Semakin keluar dari zona nyaman, semakin tinggi kemungkinan Anda membuat kesalahan. Jika ingin sukses, jangan biarkan setiap kesalahan ini menghancurkan. Daripada melihatnya sebagai akhir dunia, Anda dapat melihatnya sebagai peluang.</p>
	<footer>
		<p>&copy; 2021 vira.tresyana</p>
	</footer>
</body>
</html>