<!DOCTYPE html>
<html>
<head>

<title>Home</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
	<%- include('components/navbar') %>
	<h1>Welcome to my blogger!</h1>
	<footer>
		<p>&copy; 2021 vira.tresyana</p>
	</footer>
</body>
</html>